@page
@model CO5078_GuestHouse_Dynamic.Pages.LoginModel

<section class="contact-box">
    <h2>Admin Login</h2>

    <form method="post">
        <p>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
        </p>

        <p>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" type="password" />
        </p>

        <button type="submit">Login</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p style="color:red;">@Model.Message</p>
    }
</section>